:root {
  --dark-background-color: #1d232a;
  --light-background-color: #ffffff;
}
* {
  margin: 0;
  box-sizing: border-box;
}
.related-product {
  padding: 1.25rem;
}
.related-product .title-side {
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
}
.related-product .products-rel {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5,1fr);
}
.related-product .see-more {
    text-align: center;
    margin-top: 30px;
}
.related-product .see-more .Link {
    font-size: 1.25rem;
    border-radius: 15px;
}
